<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sirendia</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://js.cx/libs/animate.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="header">
    <div class="logo"></div>
</div>
<div class="content">
    <div id="buttons">
        <a class="btn" href="/enter">Log-in</a>
        <a class="btn" href="/registration">Sign-up</a>
    </div>
    <div id="mountains">
        <div id="left" class="tr">
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
            </div>
        </div>
        <div id="center" class="tr">
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
            </div>
        </div>
        <div id="right" class="tr">
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
                <div class="square"></div>
            </div>
            <div class="line">
                <div class="square"></div>
            </div>
        </div>
    </div>
    <div id="forest">
        <div class="tree">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
        <div class="tree" style="top: 86%;left: 58%;z-index: 1;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
        <div class="tree" style="left: 84%;top: 88%;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
        <div class="tree" style="left: 86%;top: 84%;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
        <div class="tree" style="left: 88%;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>


        <div class="tree" style="left: 15%;top: 84%;z-index: 3;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
        <div class="tree" style="left: 18%;z-index: 3;">
            <div class="trunk"></div>
            <div class="fLevel list"></div>
            <div class="sLevel list"></div>
            <div class="tLevel list"></div>
        </div>
    </div>
</div>
</body>
</html>